<div class="row">
    <div class="frame">
        <h2 class="text-white text-center">BÌNH LUẬN</h2>
        <div id="comments"></div>
        <script src="../js/facebook-fucking-comments.js"></script>
    </div>
</div>

<div class="row">
    <div class="frame">
        <h2 class="text-white text-center">TRAILER</h2>
        <div id="trailer" class="d-flex embed-responsive embed-responsive-16by9">
            <!-- <iframe width="760" height="auto" src="https://www.youtube.com/embed/f_HvoipFcA8"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->
            <script>
                $('#trailer').html('<iframe width="760" height="auto" src="' + trailerURL + '" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->');
            </script>
        </div>
    </div>
</div>